<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Welcome sa Page ni Aljur(ver.02)</h1>
    <form action="/about" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your name....">
        <button type="submit">Enter</button>
    </form>
</body>
</html>